SERVER_PORT=8080

DATABASE_URL=postgres://postgres:postgres@postgres:5432/oficina_mecanica?sslmode=disable

JWT_SECRET=your_secret_key_here

WEBHOOK_SECRET=your_webhook_secret_here

RESEND_API_KEY=your_resend_api_key_here
EMAIL_FROM=onboarding@resend.dev
